

<% if current_page?('/') %>


<div class = "welcome">
  Facebook Ad Inspiration Across Industries

</div>

<div class = "welcome-sub">
  The completely free database of Facebook Ad Inspiration!
  <br>
  Search for ads within your industry.

</div>


<%end%>


<% if current_page?('/posts/top') %>

<div class = "welcome">
Weekly Top 10
</div>

<%end%>


<% if current_page?('/posts/ecommerce') %>

<div class = "welcome">
E-Commerce Facebook Ads
</div>

<%end%>


<% if current_page?('/posts/travel') %>

<div class = "welcome">
Travel Facebook Ads
</div>

<%end%>

<% if current_page?('/posts/realestate') %>

<div class = "welcome">
Real Estate Facebook Ads
</div>

<%end%>

<% if current_page?('/posts/food') %>

<div class = "welcome">
Food & Beverage Facebook Ads
</div>

<%end%>

<% if current_page?('/posts/transportation') %>

<div class = "welcome">
Transportation Facebook Ads
</div>

<%end%>

<% if current_page?('/posts/finance') %>

<div class = "welcome">
Finance Facebook Ads
</div>

<%end%>

<% if current_page?('/posts/fitness') %>

<div class = "welcome">
Fitness Facebook Ads
</div>

<%end%>


<% if current_page?('/posts/healthcare') %>

<div class = "welcome">
Healthcare Facebook Ads
</div>

<%end%>


<% if current_page?('/posts/games') %>

<div class = "welcome">
Games Facebook Ads
</div>

<%end%>




<% if current_page?('/posts/education') %>

<div class = "welcome">
Education Facebook Ads
</div>

<%end%>


<% if current_page?('/posts/entertainment') %>

<div class = "welcome">
Entertainment Facebook Ads
</div>

<%end%>


<% if current_page?('/posts/software') %>

<div class = "welcome">
Other Software Facebook Ads
</div>

<%end%>
