

<% if current_page?('/') %>


<div class = "welcome">
  Facebook Ad Examples From Every Industry

</div>

<div class = "welcome-sub">
  Search our vast collection of ads examples for FREE.
  <br>
Get inspired by how others (including your competitors) advertise on Facebook!

</div>


<%end%>


<% if current_page?('/posts/top') %>

<div class = "welcome">
Weekly Top 10
</div>

<%end%>


<% if current_page?('/posts/ecommerce') %>

<div class = "welcome">
E-Commerce
</div>

<%end%>


<% if current_page?('/posts/travel') %>

<div class = "welcome">
Travel
</div>

<%end%>

<% if current_page?('/posts/realestate') %>

<div class = "welcome">
Real Estate
</div>

<%end%>

<% if current_page?('/posts/food') %>

<div class = "welcome">
Food & Beverage
</div>

<%end%>

<% if current_page?('/posts/transportation') %>

<div class = "welcome">
Transportation
</div>

<%end%>

<% if current_page?('/posts/finance') %>

<div class = "welcome">
Finance
</div>

<%end%>

<% if current_page?('/posts/fitness') %>

<div class = "welcome">
Fitness
</div>

<%end%>


<% if current_page?('/posts/healthcare') %>

<div class = "welcome">
Healthcare
</div>

<%end%>


<% if current_page?('/posts/games') %>

<div class = "welcome">
Games
</div>

<%end%>




<% if current_page?('/posts/education') %>

<div class = "welcome">
Education
</div>

<%end%>


<% if current_page?('/posts/entertainment') %>

<div class = "welcome">
Entertainment
</div>

<%end%>


<% if current_page?('/posts/software') %>

<div class = "welcome">
Other Software
</div>

<%end%>
