
<div id="pagination">

<%= will_paginate @posts %>
</div>


<%= link_to "Facebook Filter", facebook_posts_path %>


<div id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post_image">
        <%= link_to (image_tag post.url), post %>
      </div>
      <div class="post_content">
        <div class="company">
          <h2>
            <%= link_to post.company, post %>
          </h2>
        </div>
      </div>
    </div>
  <% end %>
</div>


<br>
<br>
