

<div class = "posts-show">
<div id = "posts">
<div class = "post">
  <div class = "post_image">
    <%= image_tag @post.url %>
  </div>






</div>


<h1>
  <%= @post.company %>
</h1>


<p>
  <strong>Category:</strong>
  <%= @post.category %>
</p>


</div>
</div>




<% if current_user && current_user.admin? %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% else %>
<% end %>
