/*
 *= require_self
 */

 /*= require 'masonry/transitions'


 /*
 *= require font-awesome
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  font-family: 'Overpass', sans-serif;
	font-weight: 100;
  background-color: #fcfcff;
  margin-bottom:300px;
  margin:0;



}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

h2 a {
  color: #515ff7 !important;
  font-weight: 900;

}



.filter-title {
 font-weight:bold;
 font-size: 2rem;
 color: #0099ff;
 text-align:center;

}


#filters {
  margin-top:5px;
  padding:10px;
  width:300px;

   a:link {
     margin-left:30px;
     color: #0099ff;
     text-decoration: none;
   }
}


.btn-group {
  border: 2px solid #8cffb0 !important;
  border-radius: 3px;

}

.btn btn-default dropdown-toggle {
  width: 400px;
  text-align: center;
  margin: 0 auto !important;



}

.dropdown-menu {
  width: 200px;
}


.wrapper {
	width: 80%;
	margin: 0 auto;

}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button {
	border: 1px solid #9B9B9B;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: white;
	color: #9B9B9B;
}

header {
	width: 100%;
	padding: .5rem 0;
	border-bottom: 5px solid #8cffb0;
  background-color: #67e58f;
	#logo {
		float: left;
    width:30px;
    margin-top:10px;

    img {
      width: 140px;

    }



		a {
			color: #333233;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
	nav {
		float: right;
		a {
			margin-left: 1.5rem;
			line-height: 4.9;
      font-size:1rem;
			color: #fff;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
}


.submit_it {
  font-weight: bold;
  font-size: 1.2rem;
}


#intro {
	margin: 2.75rem 0 1.75rem 0;
	text-align: center;
	font-size: 1.75rem;
	line-height: 1;
	span {
		font-size: 1.25rem;
		color: #9B9B9B;
	}
}




 @media only screen and (max-device-width: 480px) {
    .box  {
      margin: 10px;

      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
      border-radius: 7px;
      text-align: center;

    }
}


@media only screen and (min-device-width: 481px) {
   .box  {
     width: 350px;

     margin: 10px;

     box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
     border-radius: 7px;
     text-align: center;

   }
}


 .panel-heading {
		padding: 0;
	}
	.pin_image {
		img {
			max-width: 100%;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px 0;
		}
		.description {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}






#posts {
	.post {
		background: #fff;
		margin: 1rem 1.5%;
		border: 2px solid #e5e7ff;
		border-radius: 0.05rem;

		.post_image {
			height: 10%;
			overflow: hidden;
			img {
				width: 100%;
				border-radius: 0.05rem;
			}
		}
		.post_content {
			h2 {
				margin: 0;
				font-weight: 100;
				padding: 1rem 5%;
				border-bottom: 1px solid #E4E4E4;
				font-size: 1.1rem;
				a {
					text-decoration: none;
					color: #000;
					&:hover {
						color: #50A7C7;
					}
				}
			}
			.data {
				padding: .75rem 5%;
				color: #0099ff;
				.username, .buttons {
					margin: 0;
					font-size: .8rem;
				}
				.username {
					float: left;
				}
				.buttons {
					float: right;
					span {
						margin-left: .5rem;
					}
				}
			}
		}
	}
}


#clear {

  clear:both;
   height:110px;

}




#search-bar {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ccffdb;
   color: black;
   text-align: center;

}

 #box-search {
   font-size:1rem;
   padding:25px;


}
.searching{
  margin:8px;
  background-color: #fff;
  font-weight: 900;
  color: #515ff7;

}

.pagination {
  font-weight:900;
  letter-spacing:.05rem;
}

.header_pagination {
  font-weight:900;
  font-size:1.4rem;
}


.posts-show{
  width:450px;
}
