/*
 *= require_self
 */

 /*= require 'masonry/transitions'


 /*
 *= require font-awesome
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


html {
  position:relative;
  min-heigh:100%
}

body {
  font-family: 'Work Sans', sans-serif;
	font-weight: 400;
  background-color: #f4f5f9;
  margin-bottom:300px;
  margin:0;
  height:100%;

  a:hover { text-decoration:none;

  }



}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

h2 a {
  color: #060f82 !important;
  font-weight: 700;

}

h1 a {
  color: #060f82 !important;
  font-weight: 700;

  &:hover {
    text-decoration:none;
    color: #090d49 !important;
  }

}



.filter-title {
 font-weight:bold;
 font-size: 2rem;
 color: #67e58f;
 text-align:center;

}


#filters {
  margin-top:5px;
  padding:10px;
  width:300px;

   a:link {
     margin-left:30px;
     text-decoration: none;
   }
}


.btn-group {
  border: 2px solid #88dba3 !important;
  border-radius: 3px;

}

.btn btn-default dropdown-toggle {
  width: 400px;
  text-align: center;
  margin: 0 auto !important;



}

.dropdown-menu {
  width: 200px;
}


.wrapper {
	width: 90%;
	margin: 0 auto;

}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button {
	border: 1px solid #9B9B9B;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: white;
	color: #9B9B9B;
}

header {
	width: 100%;
	padding: .5rem 0;
	border-bottom: 13px solid #a3ffad;
  background-color: #67e58f;
	#logo {
		float: left;
    width:30px;
    margin-top:10px;

    img {
      width: 140px;

    }



		a {
			color: #333233;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
	nav {
		float: right;
		a {
			margin-left: 1.5rem;
			line-height: 4.9;
      font-size:1rem;
			color: #fff;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
}


.submit_it {
  font-weight: bold;
  font-size: 1.2rem;
}


#intro {
	margin: 2.75rem 0 1.75rem 0;
	text-align: center;
	font-size: 1.75rem;
	line-height: 1;
	span {
		font-size: 1.25rem;
		color: #9B9B9B;
	}
}




 @media only screen and (max-device-width: 480px) {
    .box  {
      margin: 10px;

      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
      border-radius: 7px;
      text-align: center;

    }
}


@media only screen and (min-device-width: 481px) {
   .box  {
     width: 350px;

     margin: 10px;

     box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
     border-radius: 7px;
     text-align: center;

   }
}


 .panel-heading {
		padding: 0;
	}
	.pin_image {
		img {
			max-width: 100%;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px 0;
		}
		.description {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {

		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}




.welcome {
  font-weight:900;
  font-size:50px;
  padding-top:25px;
  color:#060f82;
}

.welcome-sub {
  font-weight:700;
  font-size:25px;
  padding-top:12px;
  color:#060f82;
}




.top-ten {
  padding-top:5px;
}



.random_post{
  width: 350px;
  		padding-top:25px;
      padding-bottom:50px


}



.random_post_image {

  height: 10%;



  img {
    width: 350px;
    border-radius: 0.05rem;
    &:hover {
      opacity: .5;
    }
}

}



#posts {
	.post {
		background: #fff;



		.post_image {
			height: 10%;
			overflow: hidden;



			img {
				width: 100%;
				border-radius: 0.05rem;
        &:hover {
          opacity: .5;
        }

			}


		}
		.post_content {
			h2 {
				margin: 0;
				font-weight: 100;
				font-size: 1.1rem;
				a {
					text-decoration: none;
					color: #000;
					&:hover {
						color: #50A7C7;
					}
				}
			}
			.data {
				padding: .75rem 5%;
				color: #67e58f;
				.username, .buttons {
					margin: 0;
					font-size: .8rem;
				}
				.username {
					float: left;
				}
				.buttons {
					float: right;
					span {
						margin-left: .5rem;
					}
				}
			}
		}
	}
}


#clear {

  clear:both;
   height:110px;

}





 #box-search {
   font-size:1rem;
   padding:25px;


}
.searching{
  margin:8px;
  background-color: #fff !important;
  font-weight: 700;
  color: #001435;

}




.pagination { padding: 3px; margin: 3px; font-size:20px;}
.pagination a { padding: 2px 5px 2px 5px; margin: 2px; border: 3px solid #aaaadd; text-decoration: none; color: #000099; font-weight:700 }
.pagination a:hover,
.pagination a:active { border: 3px solid #000099; color: #000; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 3px solid #000099; font-weight: bold; background-color: #000099; color: #FFF; }
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 3px solid #eee; color: #ddd; }




.posts-show{
  width:450px;
  padding-top:50px;
}


#mc_embed_signup input.button {
  background-color:#67e58f;

}

#mc_embed_signup {
  font-family: 'Work Sans', sans-serif !important;
	font-weight: 900;
}

.site-footer{

   right: 0;
   bottom: 0;
   left: 0;
   padding: .25rem;
   border-top: 5px solid #67e58f;
   width:100% !important;
   position:relative;
   oveflow: hidden;

}

#search-bar {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #cff0da;
   color: black;
   text-align: center;
   position:relative;


}
